/* Estilos generales para el componente principal */
app-principal {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; /* Un color de fondo suave */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  }
  
  /* Estilos para el router outlet, que no es visible pero puede afectar el layout */
  router-outlet {
    display: block;
    padding: 15px;
    margin-top: 20px; /* Espacio entre el componente principal y el contenido de las rutas */
  }
  
  /* Puedes añadir transiciones o efectos visuales a las rutas al cambiar */
  router-outlet::ng-component {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Keyframes para la animación de fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  